*.desktop
*.lock
/elpa
recentf
config.el
/.mc-lists.el
/server/server
/tramp
*.eld
/session.*
desktop/
url/
transient/
.emacs-buffers
/network-security.data
/lisp/smart-mode-line/smart-mode-line-autoloads.el
projectile.cache
ido.last
eshell/
